/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ago-2015, 21:14:41
    Author     : andresfelipegarciaduran
*/

.banner {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.5) ;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
    height: 250px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
